packages:
  yum:
    libmemcached-devel: '0.31'

container_commands:
  collectstatic:
    command: "manage.py collectstatic --noinput"
  01migrate:
    command: "manage.py migrate --noinput"
    leader_only: true
  02initial:
    command: "python manage.py loaddata initial_project_templates"
    leader_only: true
  03compile:
    command: "python manage.py compilemessages"
    leader_only: true
option_settings:
 aws:elasticbeanstalk:environment:proxy:
   ProxyServer: nginx
 aws:elasticbeanstalk:container:python:
   WSGIPath: taiga.wsgi:application
   NumProcesses: 3
   NumThreads: 20
